# Ignorar dependências do Node.js baixadas pelo npm/yarn
/backend/node_modules/

# Ignorar o banco de dados RocksDB (ajuste o caminho se for diferente no seu .env)
/backend/database/voluntariado_db/

# Ignorar o arquivo de variáveis de ambiente (IMPORTANTE!)
/backend/.env

# (Opcional) Arquivos comuns do sistema operacional
.DS_Store
Thumbs.db

# (Opcional) Arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*